.row {
  width: 100%;

  @include breakpoint(medium down) {
    max-width: rem-calc(800);
  }

  .row {
    @each $breakpoint-size, $gutter-size in $grid-column-gutter {
      @include breakpoint($breakpoint-size) {
        margin: 0;
      }
    }
  }

  &.column > .row,
  > .column > .row {
    @each $breakpoint-size, $gutter-size in $grid-column-gutter {
      @include breakpoint($breakpoint-size) {
        margin-left: -#{$gutter-size / 2};
        margin-right: -#{$gutter-size / 2};
      }
    }
  }
}
