.input-search-icon {
  align-items: center;
  border-radius: 0 $global-radius $global-radius 0;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;

  @include breakpoint(large) {
    padding: 1rem 0.5rem;
  }
}

.search-faq-form {
  position: relative;

  input {
    background: white;
    box-shadow: none;
    font-size: rem-calc(16);
    height: rem-calc(50);
    padding: 1rem;

    @include breakpoint(large) {
      font-size: rem-calc(18);
      height: rem-calc(60);
    }
  }

  input:focus {
    + .input-search-icon {
      background: $primary-color;
      color: $white;
    }
  }
}

.faq-category-container {
  margin-bottom: 3rem;
}

.faq-category {
  border-bottom: $global-border;
  color: $primary-color;
  font-size: rem-calc(18);
  font-weight: $global-weight-semibold;
  margin: 0;
  padding: 1.5rem 0;

  @include breakpoint(large) {
    font-size: rem-calc(22);
    padding: 1.5rem 1rem;
  }
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 0.5rem;
  transition: all 500ms ease;
  visibility: hidden;

  @include breakpoint(large) {
    padding: 0 1rem;
  }
}

.faq-item {
  padding: 0;

  @include breakpoint(large) {
    padding: 0 1rem;
  }

  &.active {
    .faq-content {
      height: auto;
      margin-bottom: 0;
      max-height: rem-calc(1000);
      padding: 0.5rem 0.5rem 2rem;
      visibility: visible;

      @include breakpoint(large) {
        padding: 0.5rem 1rem 2rem;
      }
    }
  }

  @include hocus() {
    background-color: lighten($light-gray, 10%);
  }
}

.faq-item-container {
  margin: 0;

  &:last-child {
    .faq-item {
      border-bottom: 0;
    }
  }

  > dd {
    border-bottom: $global-border;

    &[data-state="hidden"] {
      border-bottom: 0;
      display: none;
    }
  }

  .faq-question {
    color: $black;
    display: block;
    font-size: rem-calc(16);
    font-weight: $global-weight-medium;
    padding: 1rem 0;

    @include breakpoint(medium down) {
      font-size: rem-calc(16);
    }
  }
}
