/**
 *  palette.scss
 */

$apple: #4baf3c;
$aqua-haze: #eff3f6;
$athens-gray: #fafbfc;
$blaze-orange: #ff6b00;
$catskill-white: #eef2f6;
$dodger-blue: #2ea1f8;
$ebony-clay: #222c3c;
$lochmara: #0085ca;
$lynch: #78889e;
$malachite: #1bb934;
$monza: #d8000c;
$mystic: #e2e7ee;
$outer-space: #2f353e;
$oxford-blue: #354052;
$pickled-bluewood: #313f56;
$polar: #f7fafd;
$regent-gray: #7f8fa4;
$resolution-blue: #001489;
$slate-gray: #6a788a;
$white-lilac: #f2f5fa;
$link-water: #f3f7fc;
$cerulean: #0091e6;
$gulf-blue: #021758;
$blue-zodiac: #081037;
