<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <link rel="stylesheet" href="{{ rev('assets/main.css') }}" />
  </head>
  <body>
    <main>
      Hello World
    </main>
    <script src="{{ rev('assets/main.js') }}"></script>
  </body>
</html>
