<!doctype html>
<html class="no-js" lang="en">
<head>
  <link rel="stylesheet" href="/assets/styles.css">
  <title>World's Greatest Shave | Leukaemia Foundation</title>
</head>
<body>
{% include '_partials/secondary-page-header' %}
  <main id="content" role="main">
    <div class="padding-large background-gray">
      <div class="row padding-top-medium">
        <div class="column text-center">
          <div class="padding-medium">
            <h1>Sorry!</h1>
            <h3 class="subheading">The site is unavailable right now, but we'll be right back</h3>
            <h4>In the meantime you can still</h4>
            <div>
              <a href="{{ craft.app.config.general.constants.artezEventURL }}/registrant/startup.aspx?eventid={{ craft.app.config.general.constants.artezEventId }}&getpage=tabbedIndividualSearch" class="button secondary large wide">Donate</a>
              <a href="{{ craft.app.config.general.constants.artezEventURL }}/registrant/startup.aspx?eventid={{ craft.app.config.general.constants.artezEventId }}" class="button priumary large wide">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer-wrapper offline-footer">
    <div class="row">
      <div class="columns">
        <div class="footer-container">
          <div class="footer-lf-container">
            <a href="https://www.leukaemia.org.au/" target="_blank" rel="noopener noreferrer">
              <img src="/assets/img/logo-lf.svg" alt="Leukaemia Foundation" />
            </a>
          </div>
            <div class="footer-social-wrapper">
              <a href="https://www.facebook.com/LeukaemiaFoundationWorldsGreatestShave" target="_blank"
                rel="noopener noreferrer"><i class="tristicon tristicon-facebook" aria-hidden="true"></i></a>
              <a href="http://instagram.com/worldsgreatestshave" target="_blank" rel="noopener noreferrer"><i
                  class="tristicon tristicon-instagram" aria-hidden="true"></i></a>
              <a href="https://www.youtube.com/watch?v=WeqAATcfQ2A&amp;list=PLGTucLKzQQJferC28EQieFcIKajnNATxX"
                target="_blank" rel="noopener noreferrer"><i class="tristicon tristicon-youtube"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mangochutney-container">
      <div class="columns">
        <a href="http://www.mangochutney.com.au" title="Website by Mango Chutney Design Adelaide" target="_blank"
          rel="noopener noreferrer" id="websitebymangochutney" class="mangochutney">Website by Mango Chutney Design
          Adelaide</a>
      </div>
    </div>
  </footer>
</body>